name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        perl: ['5.14', '5.20', '5.30', '5.38', '5.42']
    steps:
      - uses: actions/checkout@v4

      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}

      - name: Install dependencies
        run: |
          cpanm --notest --quiet App::cpanminus
          cpanm --notest --installdeps .

      - name: Build and test
        run: |
          perl Makefile.PL
          make
          make test
